services:
  db:
    container_name: tutorium-db
    image: postgres:latest
    environment:
      - POSTGRES_USER=${TUTORIUM_POSTGRES_USER}
      - POSTGRES_PASSWORD=${TUTORIUM_POSTGRES_PASSWORD}
      - POSTGRES_DB=${TUTORIUM_POSTGRES_DB}
    ports:
      - "${TUTORIUM_POSTGRES_DB_PORT}:${TUTORIUM_POSTGRES_DB_PORT}"
    volumes:
      - pgData:/var/lib/postgresql/data
  
  auth-service:
    container_name: tutorium-auth-service
    build:
      context: ./backend/tutorium-auth-service
      dockerfile: Tutorium.AuthService/Dockerfile
    ports:
      - "${TUTORIUM_AUTH_SERVICE_PORT}:${TUTORIUM_AUTH_SERVICE_PORT}"   
    environment:
      - ASPNETCORE_URLS=http://+:${TUTORIUM_AUTH_SERVICE_PORT}
  
  user-service:
    container_name: tutorium-user-service
    build:
      context: ./backend/tutorium-user-service
      dockerfile: Tutorium.UserService/Dockerfile
    ports:
      - "${TUTORIUM_USER_SERVICE_PORT}:${TUTORIUM_USER_SERVICE_PORT}"   
    environment:
      - ASPNETCORE_URLS=http://+:${TUTORIUM_USER_SERVICE_PORT}

  frontend:
    container_name: tutorium-frontend
    build:
      context: ./frontend/tutorium-frontend
      dockerfile: Dockerfile
      args:
        MODE: docker
    ports:
      - "${TUTORIUM_FRONTEND_PORT}:${TUTORIUM_FRONTEND_PORT}"   

  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: kafka-zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka
    ports:
      - "29092:29092"
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    depends_on:
      - kafka
      - zookeeper

  kafka-init:
    image: hashicorp/terraform:latest
    container_name: kafka-terraform
    volumes:
      - ./Kafka/Terraform/:/workspace
    working_dir: /workspace
    entrypoint: ["/bin/sh", "-c", "\
      echo 'Waiting for Kafka...'; \
      while ! nc -z kafka 9092; do sleep 1; done; \
      terraform init && terraform apply -auto-approve -var-file=\"/workspace/vars/docker.tfvars\""]
    env_file:
      - .env
    depends_on:
      - kafka
      - zookeeper

volumes:
  pgData:
    driver: local